/* Semantic Elements */
nav {
    display: none;
    text-align: left;
    position: fixed;
    top: 38px;
    z-index: 10;
    font-size: 14pt;
    width: 100%;
}

#navcheck:checked~nav {
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 28px;
    line-height: 0.1;
}

body {
    border: 3px solid #999900;
    background-color: darkgrey;
}

main {
    padding: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

label, nav, header, footer {
    background-color: #999900;
}

/* Text */
nav a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    text-decoration: underline;
}

/* Change the color of the links. They don't stand out enough. */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3, h2 {
    text-align: center;
}

header h2 {
    opacity: 0.7;
}

figcaption {
    font-size: 10pt;
}

.card h3 {
    text-decoration: underline;
}

.disclaimer {
    font-size: 8pt;
}

/* Images */
img {
    width: 90%;
    border: 4px solid darkgreen;
    border-radius: 10px;
}

#about-me img {
    object-position: 20%;
}

/* Containers */
.programing {
    border: 2px solid black;
    padding: 3px;
    position: relative;
}

td, th {
    border: 2px solid black;
    padding: 3px;
}

td {
    text-align: center;
}

#heading {
    display: flex; 
    order: 2; 
    flex-direction: column; 
    justify-self: center; 
    text-align: center;
}

#anchor {
    display: flex;
    flex-direction: column;
    font-size: 10pt;
    margin-left: 10px;
}

#contact {
    margin-left: 20px;
}

#first-row, #second-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 19px;
    width: 100%;
}

#bnb, #pawfect-pet-care {
    width: 85%;
}

.card {
    border: 5px solid black;
    background-color: white;
    text-align: center;
    width: 40%;
    margin: 5px;
}

/* Other */
#navcheck {
    display: none;
}

label {
    display: flex;
    align-self: start;
    position: fixed;
    top: 0px;
    font-size: 30px;
    width: 96.75%;
}

label, nav {
    position: fixed;
    left: 8px;
}

.card button {
    background-color: green;
    font-size: 20px;
}

/* Media Queries */
@media (min-width: 720px) { 
    body {
        background-color: black;
        color: white;
    }

    header, nav, label {
        color: black
    }

    .programing, th, td, tr {
        border-color: white;
        left: calc(6.25rem - 2px);
    }
    
    #bio img {
        width: 70%;
        float: left;
        margin-right: 10px;
        display: flex;
        align-self: start;
    }

    #accomplishments {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #accomplishments img {
        width: 70%;
        float: right;
    }

    #responsive, #non-responsive {
        width: 100%;
        position: relative;
        left: 1.5rem;
        color: black;
    }

    #fit-for-fitness, #about-a-company {
        margin-left: 1.25rem;
    }
}